<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <h1>新闻动态</h1>
      <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
    <div class="col-sm-4">
      <a href="#" class="">
        <img src="images/newyork_1.jpg" alt="Chicago" class="img-thumbnail">
      </a>
    </div>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div>
